body {
  background: white;
}
/*element */
li {
  border: 2px solid green;
}
/*id*/
#special {
  border: 2px solid red;
  background: cyan;
}
/*class*/
.completed {
  text-decoration: line-through;
}
/*star*/
* {
  border: 1px solid lightgrey;
}

h1 + ul {
  border: 4px solid purple;
}
